.project-structure {
  margin: 5rem 3rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: white;
}

.component-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: #212430 ;
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  color: white;
  font-size: 1rem;
  line-height: 2;
}

span {
    color: #BA181B;
}